In [3]:
import pyodbc
import pandas as pd

In [4]:
# Задайте свои параметры подключения
driver = 'SQL Server'
server = ''
database = ''

In [5]:
# Строка подключения
connection_string = f'DRIVER={driver};SERVER={server};DATABASE={database}'

In [6]:
# Установка соединения
conn = pyodbc.connect(connection_string)

In [7]:
# SQL-запрос
sql_query = 'SELECT * FROM table'

In [8]:
# Загрузка данных в DataFrame
df = pd.read_sql(sql_query, conn)